# macOS systemfiler
.DS_Store
**/.DS_Store

# Tillfälliga filer och manuella anteckningar
git commandon.txt

# HTML-filer som inte ska pushas
www/html/burner_mockup.html
www/html/index.html.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
